<body>

  

  <% @freeposts.each do |freepost|%>

    <div style="border: 3px solid; margin-bottom: 10px;">
      Title: <%= freepost.title %> <br>
      ID: <%= freepost.username %> <br>
      Content: <%= freepost.content %> <br>
      Time: <%= freepost.created_at %> <br>

      <% freepost.freecomments.each do |fcomment| %>
        <div style="border: 1px solid red; margin-bottom: 10px;">
          ID: <%= fcomment.username %> <br>
          Content: <%= fcomment.content %> <br>
        </div>
      <% end %>

      <br>
      <!--  -->
        <a href = "/freelike/<%= freepost.id %>"  data-method = 'POST'>LIKE (<%=freepost.freelikes.count%>)</a>
        <br>
        <a href = "/freedislike/<%= freepost.id %>"  data-method = 'POST'>DISLIKE (<%=freepost.freedislikes.count%>)</a>
        <br>
      <!--  -->

      <form action= "/freecomment" method="POST">
        <input type = "hidden" name="freepost_id" value="<%= freepost.id%>">
        ID: <input type="integer" name="username">
        Content: <input type="text" name="content">
        <input type = "submit" value="Send">
      </form>

    </div>
  <% end %>



  <% if current_user %>

  <% else %>

    <a class="nav-link" href="/auth/google_oauth2"><i class="fab fa-google-plus-g"></i> Sign in</a>

   <% end %>
</body>
