<body>
  
    <h2> Title : <%= @freepost.title %> - <%= @freepost.username  %> </h2> <br>
    <h3> Content : <%= @freepost.content %> </h3>



    <br><br><br><br>
    <h1><a href="/freeedit/<%= @freepost.id%>">Edit Post</a></h1>
    <h1><a href="/freedestroy/<%= @freepost.id%>" data-confirm="Are you sure?" data-method = 'POST'>Delete Post</a></h1>
    <h1><a href="/freeindex">Return to Index</a></h1>
</body>
